@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


a { text-decoration: none; color: inherit; }
html, body { height: 100%; width: 100%; margin: 0; font-family: Arial, Helvetica, sans-serif;}
body::-webkit-scrollbar{
    display: none;
}

.page-content {
    height: 100%; 
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.page-header { 
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    transition: all 1700ms cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 25px;
    background-color: rgb(251, 249, 249);
    border-top: 1px solid rgb(227, 226, 226);
    border-bottom: 1px solid rgb(227, 226, 226);
}

.page-content-on-top {
    animation: 1s moveSearchToTop ease-in;
}

.search-result-list {
    width: 50%;
}

.search-result-element {
    width: 100%;
    border: 1px solid rgb(227, 226, 226);
    border-radius: 4px;
    padding: 15px 5px 15px 5px;
    transition: all 100ms linear;
    margin-top: 25px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.search-result-element-transition {
    animation: fadeIn 1s linear;
}

.search-result-element:hover {
    background-color: rgba(236, 233, 233, 0.415);
    cursor: pointer;
}

.search-result-element .title {
    font-weight: bold;
    width: 100%;
    text-overflow: clip;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(227, 226, 226);
    font-size: 24px;
}

.search-result-element .description {
    padding-top: 8px;
}

.more-options-button {
    margin-top: 25px;
    border-bottom: 1px solid rgb(227, 226, 226);
}

.more-options-button:hover {
    cursor: pointer;
}

.more-options {
    height: 0;
    transition: all 200ms linear;
    transition: height 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
    /* border: 1px solid rgb(227, 226, 226); */
    width: 50%;
    /* padding: 15px; */
    margin-top: 15px;
}

.small-text-input {
    border: 1px solid rgb(227, 226, 226);
    padding: 5px;
    border-radius: 5px;
}

.small-text-input:active .small-text-input:focus {
    border: 1px solid rgb(227, 226, 226);
    outline: none;
}

.form-line {
    width: 100%;
}

.search-result-element .more {
    height: 0;
    overflow: hidden;
    transition: all 120ms linear;
}

.search-result-element .opened {
    height: 100%;
}

.no-results {
    font-size: 25px;
    margin-top: 145px;
    text-align: center;
    width: 100%;
}

.search-result-found-count {
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 15px;
    color: rgb(153, 153, 153);
}

#pagination-nav {
    margin-top: 40px;
    margin-bottom: 100px;
}