@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
a { text-decoration: none; color: inherit; }
html, body { 
    height: 100%; width: 100%; margin: 0; font-family: 'Nunito', sans-serif; 
    background-color: var(--primary);
    color: var(--dark) !important;
}
body::-webkit-scrollbar{
    display: none;
}

input, select, label, span, input:focus, select:focus {
    background-color: var(--primary) !important;
    outline-color: var(--dark) !important;
    border-color: var(--dark) !important;
}

.page-content {
    height: 65%; 
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 0;
    transition: all 300ms ease-in-out;
}


.page-header { 
    z-index: 99999;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    /* transition: all 1700ms cubic-bezier(0.075, 0.82, 0.165, 1),  */
    transition: width 300ms ease-in-out;
    padding: 25px;
    border-bottom: 1px solid var(--fourth);
    background-color: var(--primary);
    overflow: hidden;
    
}

.page-content-on-top {
    animation: 1s moveSearchToTop ease-in;
}

.search-result-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-result-element {
    width: 50%;
    min-width: 45vw;
    border: 1px solid var(--fourth);
    border-radius: 4px;
    padding: 25px 10px 25px 10px;
    transition: all 100ms linear;
    margin-top: 25px;
    height: 160px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 26px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 26px -20px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 26px -20px rgba(66, 68, 90, 1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.search-result-element-transition {
    animation: fadeIn 1s linear;
}

.search-result-element:hover {
    background-color: rgba(236, 233, 233, 0.415);
    cursor: pointer;
}

.search-result-element .title {
    font-weight: bold;
    width: 100%;
    text-overflow: clip;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--fourth);
    font-size: 24px;
}

.search-result-element .description {
    padding-top: 8px;
}

.more-options-button {
    margin-top: 25px;
    border-bottom: 1px solid var(--fourth);
}

.more-options-button:hover {
    cursor: pointer;
}

.more-options {
    height: 0;
    transition: all 200ms linear;
    transition: height 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
    /* border: 1px solid var(--fourth); */
    width: 35vw;
    /* padding: 15px; */
    margin-top: 15px;
}

.small-text-input {
    border: 1px solid var(--fourth);
    padding: 5px;
    border-radius: 5px;
}

.small-text-input:active .small-text-input:focus {
    border: 1px solid var(--fourth);
    outline: none;
}

.form-line {
    width: 100%;
}

.search-result-element .more {
    height: 0;
    overflow: hidden;
    transition: all 120ms linear;
}

.search-result-element .opened {
    height: 100%;
}

.no-results {
    font-size: 25px;
    margin-top: 145px;
    text-align: center;
    width: 100%;
}

.search-result-found-count {
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 15px;
    color: rgb(153, 153, 153);
}

#pagination-nav {
    margin-top: 40px;
    margin-bottom: 100px;
}


.article-wrapper {
    width: 50%;
    position: fixed;
    right: -50%;
    top: 15px;
    height: 95%;
    transition: all 300ms ease-in-out;
    
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 26px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 26px -20px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 26px -20px rgba(66, 68, 90, 1);
    
    /* z-index: 99999999999999999999999999999; */
    border: 1px solid var(--fourth);
}

.article-lookup {
    width: 100%;
    height: 94%;
    padding: 15px;
    overflow-y: scroll;
    z-index: 999999999999999999999999999991;
}

.article-lookup::-webkit-scrollbar{
    display: none;
}

.article-lookup h2 {
    font-weight: bold;
}

.article-toolbar {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 6%;
    /* position: absolute; */
    top: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 25px;
    padding-right: 15px;
    background-color: var(--secondary);
    border-bottom: 1px solid var(--fourth);
}

.article-hide-btn {
    font-size: 2rem;
    color: var(--dark);
    transition: all 50ms linear;
    /* filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9)); */
}

.article-hide-btn:hover {
    cursor: pointer;
    color: var(--fourth);
    font-size: 2.1rem;
}

.article-bookmark-btn {
    font-size: 2rem;
    color: var(--dark);
    transition: all 50ms linear;
    /* filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9)); */
}

.article-bookmark-btn:hover {
    cursor: pointer;
    color: var(--fourth);
    font-size: 2.1rem;
}

.maximize-article-btn {
    font-size: 2rem;
    color: var(--dark);
    transition: all 50ms linear;
    padding-left: 15px;
    transform: scale(1);
}

.maximize-article-btn:hover {
    cursor: pointer;
    color: var(--fourth);
    font-size: 2.1rem;
}

.alert-prime { 
    background-color: rgb(78, 194, 93);
    padding: 14px;
    position: fixed;
    z-index: 9999999999;
    left: 15px;
    top: 15px;
    width: 300px;
    height: 100px;
    color: var(--primary);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(90, 92, 111, 0.33);
    -moz-box-shadow: 0px 0px 14px 0px rgba(90, 92, 111, 0.33);
    box-shadow: 0px 0px 14px 0px rgba(90, 92, 111, 0.33);
    border-radius: 8px;
    animation: 0.5s fadeIn;
}

.alert-title { 
    font-weight: bold;
    font-size: 20px;
}

.alert-description { 
    font-size: 12px;
}